.logo {
  margin-right: 17px;
}

.purple-pink-gradient {
  background: linear-gradient(90deg, #5956f0 0%, #ff50b8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.link-btn {
  text-decoration: none;
  color: #fff;
}
