html, body{
  overflow-x: hidden;
}

.logo {
  margin-right: 17px;
}

.purple-pink-gradient {
  background: linear-gradient(90deg, #5956f0 0%, #ff50b8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.global-header {
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    line-height: 82.3px;
}

.pages {
  padding-top: 95px;
}

.global-container {
  padding: 20px 50px;
}

@media screen and (width < 960px) {
  /* Start Home Page */ 
  .global-header {
      font-size: 3em !important;
  }

  .pages { 
    padding-top: 74px;
  }
  /* End Home Page */
}


@media screen and (width > 1904px) {
  
}

