html, body{
  overflow-x: hidden;
}

.logo {
  margin-right: 17px;
}

.purple-pink-gradient {
  background: linear-gradient(90deg, #5956f0 0%, #ff50b8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.global-header {
    color: #fff;
    font-size: 4em;
    font-weight: 700;
    line-height: 82.3px;
}

@media screen and (width < 700px) {
  /* Start Home Page */ 
  .global-header {
      font-size: 3em;
  }

  .home-page-mission-text {
    margin-top: 10px !important;
  }

  .our-works {
    padding: 50px 20px !important;
  }
  /* End Home Page */
}

